.main-word {
  letter-spacing: 1rem;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}


.banner {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 24px;
  font-weight: 900;
}


.buttons {
  width: 3rem;
  font-weight: bold;
  position: relative;
}

.unavailable {
  background-color: unset;
  color: gray;
  border: solid;
  text-decoration: line-through;
}
